{#

Description text for the Contextual links.

#}


{% trans %}

<p>Many modules add tabs to nodes underneath the node/<nid> path. If the path
   you are adding corresponds to a commonly performed action on the node, you
  can choose to expose it as a contextual link. Since the Node module
   already has code to display all contextual links underneath the node/<nid>
   path (such as 'Edit' and 'Delete') when a node is being rendered outside
   of its own page (for example, when a teaser of the node is being displayed
   on the front page of the site), you only need to inform Drupals menu
   system that your path is a contextual link also, and it will automatically
   appear with the others. In the example below, we add a contextual link
   named 'Example action' to the list.</p>

{% endtrans %}
